dist: trusty
sudo: require
language: c++

matrix:
  include:
    - compiler: gcc
      addons: {apt: {sources: [ubuntu-toolchain-r-test], packages: [g++-6]}}
      env: MATRIX_EVAL="CC=gcc-6 && CXX=g++-6"
    - compiler: gcc
      addons: {apt: {sources: [ubuntu-toolchain-r-test], packages: [g++-7]}}
      env: MATRIX_EVAL="CC=gcc-7 && CXX=g++-7"
    - compiler: clang
      addons: {apt: {sources: [llvm-toolchain-trusty-4.0], packages: [clang-4.0]}}
      env: MATRIX_EVAL="CC=clang-4.0 && CXX=clang++-4.0"
    - compiler: clang
      addons: {apt: {sources: [llvm-toolchain-trusty], packages: [clang-5.0]}}
      env: MATRIX_EVAL="CC=clang-5.0 && CXX=clang++-5.0"
    - os: osx
      osx_image: xcode8
      env: MATRIX_EVAL="brew install gcc6 && CC=gcc-6 && CXX=g++-6"
    - os: osx
      osx_image: xcode8
      env: MATRIX_EVAL="brew install gcc && CC=gcc-7 && CXX=g++-7"

before_install:
  - eval "${MATRIX_EVAL}"

before_script:
  - mkdir build
  - cd build
  - cmake ..

script:
  - make && make test

deploy:
  provider: releases
  api_key:
    secure: "S4qDiuC/vIRXe3XtRJCczG13GOLep8W7YOS7bUGr5amgNRT4ZYfnPicGwNgTco2v0dGrTq/4H95CYr+YwcdWQFs0iO6hCwvVEhgZ49KfGXxB+fulcUjAEG9xlKLvXf/+65SjV7UgcbizShixmo5KZr1z7Zg4R4jBAvRc4Xjco7k3UhTl/ZRaeDP4s9VNQ+l4XXv2XULHdaNWPQM0s4IvNh4CE070fok5Ve8czQ3e/kNUX2TD6kIgviuBy04VGeU/tgg1/LLmgJYXHODV4aRiBzfUb+2Bgk48RiHdgSuhKUaR0YPl1ASXbPwS88rLBdEqWZYmDZgKiNP9bU1W/tuwkuqyI8p3IQ/MnANxE/hx1Zpz9pu1ptrm/83GotGld/m15gwr5yqNE6PP97KR4OB6lFzZxL3PJ8KBHM2WD2pnliWWsdvV4nLozXcIupVZZbdXmP4XeJQJ96uXG8Auf3b+YYGZC8hOVeQgXQjE8f9JTftgVSk5+Lq8N31jCaNnS3l38h0QBJs9yeUyDgIyN+qcQjUanpWjSCCapAzgcA/4ms0rNW9XW2Uol5P7Hx+VW56LO3CiKJ2gSo4/7fAqNn5TTCDCBkh5Snid9O2dKEu/uGemvBC6Yt8vTj0ESltssyaNspy9WNasna6s+oVxIJaIfmCjjJjR2p2w6HNVsSsTgwI="
  file:
    - calc
    - calc.exe
  skip_cleanup: true
  on:
    tags: true
